.spinner {
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  color: rgb(182, 169, 171);
}

.spinner img{
    height:70px;
    width:70px;
}