.modal {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(158, 156, 156, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 130;
}

.modal-box{
    width:600px;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 222, 222);
    border-radius: 5px;
}

.modal-header{
    font-size: 24px;
    width:100%;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    color:white;
    text-align: center;
    background-color: rgb(148, 97, 97);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  
}

.modal-message {
    flex: 1;
    /* width:450px;
    height:200px; */
}
.modal-message textarea {
   resize:none;
   width:500px;
   height:300px;
   font-size: 22px;
  
}
.modal-buttons {
    display: flex;
    width:100%;
    justify-content: space-around;
}

.modal-buttons button {
    padding: 12px;
    width:100px;
    color:white;
    font-size: 18px;
    outline:none;
    border: none;
    margin: 20px 30px;
    border-radius: 3px;
}

.modal-buttons button:hover{
    cursor:pointer;
}

.modal-ok-button {
    background-color: #83ac41;
}

.modal-cancel-button {
    background-color: rgb(3, 19, 34);
    color:rgb(227, 229, 230);
}